<h1>All Bars</h1>

<ul>
    <% @bars.each do |bar| %>
      <ul>
        <li>
            NAME: <%= bar.bar_name %>
        </li>
        <li>
            LOCATION: <%= bar.location %>
        </li>
        <li>
            PHONE NUMBER: <%= bar.phone_number %>
        </li>
        <li>
            USER ACCOUNT: <%=bar.user_id %>
        </li>
            <%= link_to "More info", bar_path(bar) %>
        </ul>

    <% end %>
</ul>

<%= link_to "Back to the User list", users_path %>
<%= link_to "Back to the Post list", posts_path %>
