<h1>All Bars</h1>

<ul>
    <% @bars.each do |bar| %>
      <ul>
        <li>
            NAME: <%= bar.bar_name %>
        </li>
        <li>
            LOCATION: <%= bar.location %>
        </li>
        <li>
            PHONE NUMBER: <%= bar.phone_number %>
        </li>
        <li>
            USER ACCOUNT: <%=bar.user.user_name %>
        </li>
            <%#= link_to "More info", user_bar_path(bar.user, bar.id) %>

        </ul>
        <hr>

    <% end %>
</ul>

<%= link_to "User's list", users_path %>
<%#= link_to "Create New Bar", new_bar_path(@user) %>
<%#= link_to "Back to the Post list", bar_posts_path %>
