<h1>Add a new bar!</h1>

<%= form_for @bar do |f| %>

    <div>
        <%= f.label :bar_name %>
        <%= f.text_field :bar_name %>
    </div>

    <div>
        <%= f.label :location %>
        <%= f.text_field :location %>
    </div>

    <div>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
    </div>

    <%= f.submit "Add new bar!" %>

<% end %>

<%= link_to "Back to bar list!", bars_path %>
