<h1>All  <%= @user.user_name %>'s Bars (user-specific)</h1>
<ul>
    <% @bars.each do |bar| %>
      <ul>
        <li>
            NAME: <%= link_to bar.bar_name, bar_path(bar.user, bar) %>
        </li>
        <li>
            LOCATION: <%= bar.location %>
        </li>
        <li>
            PHONE NUMBER: <%= bar.phone_number %>
        </li>
        <li>
            USER ACCOUNT: <%= @user.user_name %>

        </li>
            <%#= link_to "More info", user_bar_path(bar.user, bar.id) %>
        </ul>
        <hr>
    <% end %>
</ul>

<%#= link_to "Back to the User list", users_path %>
<%#= link_to "Create New Bar", new_bar_path(@user) %>
<%= link_to "Back to the Users list", users_path %>
|
<%= link_to "Users Profile", user_path(@user) %>
