<h1>All Users</h1>

<ul>
    <% @users.each do |user| %>
        <li>
            NAME: <%= user.user_name %> - EMAIL: <%= user.email %> - AGE: <%= user.age %>
            <%= link_to "More info", user_path(user) %>
            <%= link_to "User's Bar", user_bars_path(user) %>
        </li>
        <hr>
    <% end %>

</ul>

<%#= link_to "Back to the Bar list", bars_path %>
<%#= #link_to "Back to the Post list", posts_path %>
